*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

  
}
a{
  color: white;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
body{
  background: black;
  color: white;
}
.container{
  width: 1200px;
  margin: auto;
  min-height: 100vh;
}
.homepage{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-skills{
  width: 100%;
  
  
}
.card-container{
  display: flex;
}

.my-skills h2{
  margin-bottom: 30px;
  text-align: center
}
.card{
  
 text-align: center;
}
.card h4{
  margin-bottom: 30px;
   text-align: center;
}
.card img{
  width: 350px;
}
.card p{
  margin-top: 30px;
}



/* phone screen */
@media(max-width:800px){
  .container{
    width: 100%;
    padding: 0 20px;
  }
  .card-container{
   flex-direction: column;
  }
}